@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap');



html, body {
    width: 100%;
    margin: 0;
    font-family: 'Londrina Solid', cursive, Arial, Helvetica, sans-serif;
    font-size: 48px;
  }

header {
   
}

main {

}

section {

}

p {
    margin: 0;
    padding: 0;
}

img {
    border: 2px black solid;
}
   

@keyframes CatSlide {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: 
        translateX(100%)
    }
}

.boxWithAnimation {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: 400ms ease-out 0s 1 CatSlide;
}

.blocRelativeWhite {
    position: relative; 
    height: 800px; 
    background: white; 
    color: black;
    border-top-left-radius: 50%;
    border: black 10px double;
    background-clip: content-box;
}

.blocRelativeGreen { 
    position: relative; 
    height: 500px; 
    background: Aquamarine; 
    color: white;
    border: solid black; 
    border-width: 0 2px 0 2px ;
}

.blocRelativeOrange {
    position: relative; 
    height: 500px;
    background: rgba(245, 194, 99 , 0.5); 
    color: white;
    border: 2px black solid;  
}

.blocRelativeBlue {
    position: relative; 
    height: 500px;
    background: paleturquoise; 
    color: white;
    border: black solid;
    border-width: 0 2px 2px 2px  
}

article {

}

aside {

}

footer {
    height: 100px;
}